.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.messages {
  width: 640px;
  height: 400px;
  overflow-y: auto;
  border: 2px solid #333333;
  padding: 10px;
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 10px;
  max-width: 320px;
  display: flex;
}

.message.currentMember {
  margin-left: auto;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
}

.message.currentMember .texts .text {
  background: #a1d6ff;
}

.avatar {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 32px;
  font-weight: bold;
  letter-spacing: -2px;
  text-align: center;
}

.texts {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.texts .user {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}

.texts .text {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 8px;
}

.message .texts .text {
  background: #ebebeb;
}

.input {
  display: flex;
}

.input input {
  flex: 1;
  padding: 5px;
}

.input button {
  padding: 5px 10px;
}